budget-page {
  flex-direction: column;
  width: 100%;
  height: 100%;

  margin: auto;
  flex: 1;

  display: flex;

  transition: opacity 0.5s ease;

  width: calc(100% - 0rem);
  padding: 1rem;
  background: #f5f5f5;
}

page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

doc-id {
  background: #fff;
  width: calc(100% - 1rem);
  padding: 0.2em;
  margin: 0;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-left: 5px solid #e5e5e5;
  border-right: 5px solid #e5e5e5;
  text-transform: uppercase;
  color: #003b6b;
}
doc-id * {
  font-size: 0.6rem !important;
}
doc-id span {
  display: flex;
  flex-flow: row;
  padding: 0.2rem 0.5rem;
}

/* --- [ doc-title ] --- */
doc-title {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  background: #00aeb0;
  background: var(--sv-marine);
  background: var(--sv-sombra-azul);
  color: #003b6b;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;

  background: #e8f1ff00;
  padding: 0 !important;
}

doc-title_layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
  background: #e8f1ff00;
}

doc-title_type {
  padding: 1rem 0 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--sv-azul-bebe);
  color: var(--sv-sombra-azul);
  color: #fff;
}

doc-title_title {
  background: var(--sv-marine);
  padding: 0.5rem 0;
  color: #fff !important;
  font-weight: 700;
  /* color: #003b6b; */

  display: block;
  font-size: 1em;
  font-family: "inter", "Roboto", sans-serif;
  overflow-wrap: break-word;
}

/* --- [ client-section ] --- */
cliente-section {
  display: flex;
  padding-top: 1em;
}

cliente-section > ui {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  border-radius: 1rem;
  overflow: clip;
}

cliente-section > ui > header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: var(--sv-azul-bebe);
  padding: 0.5em;
  background: var(--sv-sombra-azul);
  border-radius: 1rem 1rem 0 0;
}

cliente-section > ui > header > ui {
  padding: 0.5em;
  width: 100%;
  height: 46px;
  height: 26px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border-top: #0505 2px dotted; */
  /* border-bottom: #0505 2px dotted; */
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1em;
  background: var(--sv-sodalita);
}

cliente-section > ui > header > ui > t {
  font-family: "inter", "Roboto", sans-serif;
  overflow-wrap: break-word;
  display: block;
  font-size: 1em;
  font-weight: 700;
  color: var(--sv-azul-bebe);
}

cliente-section > ui > content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em;
}

cliente-section > ui > content > card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 1.1em;
  background: #bdcfea;
}

cliente-section > ui > content > card > ui {
  padding: 1em;
  background: #fff;
}

cliente-section > ui > content > card > ui t {
  font-family: "inter", "Roboto", sans-serif;
  font-weight: normal;
  overflow-wrap: break-word;
  display: block;
  font-size: 1em;
}

/* --- [ budget-body ] --- */
budget-body {
  display: block;
  unicode-bidi: isolate;
}

budget-body > clause {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
  background: #f5f5f5;
  margin: 8px 0;
  break-before: auto;
}

budget-body > clause > ui {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: #fff0;
  border-radius: 12px;
  overflow: hidden;
}
clause-header {
  color: var(--sv-azul-bebe);
  width: 100%;
  padding: 0.5em;
  background: var(--sv-sodalita);
}

clause-header > ui {
  display: flex;
  width: 100%;
  height: 46px;
  height: 26px;
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1em;
  background: var(--sv-sombra-azul);
}

clause-header > ui > t {
  font-family: "inter", "Roboto", sans-serif;
  overflow-wrap: break-word;
  display: block;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

clause-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em;
  background: #fff;
  overflow: hidden;
}

subclause {
  unicode-bidi: isolate;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

subclause > ui {
  display: flex;
  flex-direction: column;
  padding: 0;
}

subclause-header {
  display: block;
  unicode-bidi: isolate;
  background: #fff0;
  padding: 1em 0.5em;
  border-bottom: #7773 1px solid;
}

subclause-header > t6 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  font-size: 1em;
}

subclause-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0.5em 0.5em;
}

/* --- [ footer-content ] --- */
footer-content {
  display: block;
  unicode-bidi: isolate;
}

footer-content_top {
  padding: 1em 0;
  overflow: hidden;
  background: #f5f5f5;
}

footer-content_top > content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em;
}

footer-content_top > content > t6 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  font-size: 1em;
}

footer-content_top > content > p {
  font-family: "inter", "Roboto", sans-serif;
  font-weight: normal;
}

tagb {
  display: block;
  padding: 1.5em;
  background: #0df;
  color: #00559c;
  border-radius: 22px;
}

tagb > p {
  font-family: "inter", "Roboto", sans-serif;
  font-weight: normal;
  overflow-wrap: break-word;
  margin: 1em 0;
}

footer-content_bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
  background: #f5f5f5;
  margin: 8px 0;
}

footer-content_bottom > ui {
  display: flex;
  flex-direction: column;
  padding: 0;
  background: var(--sv-sodalita);
  background: #fff0;
  border-radius: 12px;
  overflow: hidden;
}

footer-content_bottom > ui > header {
  display: block;
  unicode-bidi: isolate;
  color: var(--sv-azul-bebe);
  width: 100%;
  padding: 0.5em;
  background: var(--sv-sodalita);
}

footer-content_bottom > ui > header > ui {
  display: flex;
  width: 100%;
  height: 46px;
  height: 26px;
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1em;
  background: var(--sv-sombra-azul);
}

footer-content_bottom > ui > header > ui > t {
  font-family: "inter", "Roboto", sans-serif;
  overflow-wrap: break-word;
  display: block;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

footer-content_bottom > ui > content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em;
  background: #fff;
  overflow: hidden;
}

signatures {
  display: flex !important;
  flex-direction: row !important;
  padding: 1.5em !important;
  gap: 2em !important;
}

signature {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

signature > content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 1em;
}

signature sig-name {
  border-top: #16181c 2px solid;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

/*
*
cliente-section
  ui
    header
      ui
        t
          {cliente}
    content
      card
        ui
          t
*/
